// src/sass/variables.scss

// Globals
$border-radius-root: 0px;
$font-size-root: 12px;
$input-font-size: 12px;

$tabs-item-padding: 0 0 0 0;

$navigation-drawer-border-width: 0px;

// Variables must come before the import
$btn-letter-spacing: 0;
$btn-font-weight: 400;
$btn-icon-padding: 2px 2px;

$card-btn-padding: 0 0px;
$card-actions-padding: 0px 0px 1px 0px;
$expansion-panel-content-padding: 0px 0px 1px 0px;
$expansion-panel-header-padding: 0px 2px 0px 6px;
$expansion-panel-active-header-min-height: 36px;
$expansion-panel-header-min-height: 30px !default;
